body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
   
}



h2 {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
}

@keyframes animaCarrosel1Avanca{
    0% {margin-left:0%}
    100% {margin-left:-100%;}
} 

.animaAvanca{
    animation-name: animaCarrosel1Avanca;
    animation-duration: 2s;
}


@keyframes animaBotaoTexto{
    0% {margin-left:0%}
    100% {margin-left:-100%;}
} 

.botaoTexto{
    animation-name: animaCarrosel1Avanca;
    animation-duration: 2s;
}


.bolaVerdeEscura{
    background-color: #1E5E39 !important;
}


.modal{
    display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.conteudo-modal {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 40px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

#menu3D {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.conteudo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animation for the inner text to fade in */
.active + .conteudo #paraText {
  opacity: 1 !important;
}



/* Optional icon rotation */
.colapsavel.active #lupa img {
  transform: rotate(90deg);
}



body.no-scroll {
  overflow: hidden !important; 
}

body.no-scroll {
  padding-right: 0; 
}

.scroll-stopper-box {
  display: block;
}


.scrollable-box {
  overflow-y: scroll;
  overscroll-behavior-y: contain; /* Prevents the parent page from scrolling */
}

canvas:focus-visible {
  outline: none;
}




* {text-decoration: none;
  transition: all 0.3s;
  transform: all 0.3s;

}

li {list-style: none;}


.menuH {
  display: inline-block;
  position: relative;

  .btn2 {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-width: 0px;
    
    
    .bar {
      width: 30px;
      height: 5px;
      background: #000;
      border-radius: 2em;
      margin-bottom: 5px;
    }
    .bar:last-child {margin-bottom: 0px;}
    
  }
  
  nav {
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 10px;
    background-color: #ADDDC1;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.7);
    
    a.ham {
      color: #222;
      padding: 10px 20px;
      display: block;
      white-space: nowrap;
    }
    li:last-child a.ham {border-bottom: 0px;}
    a.ham:hover {color: whitesmoke; background: #1E5E39;}
  }
  
  .menu_show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    
  }
}

.carousel {
    overflow-x: scroll;
    cursor: grab;
    touch-action: pan-y;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE / Edge */
}
.carousel::-webkit-scrollbar {
    display: none;               /* Chrome / Safari */
}

.carousel:active {
    cursor: grabbing;
}